{% extends "layout.html" %}
{% block body %} 
	<h1><center>About Us</center></h1>
	<p style="font-size:20px">ShareToYou was founded in 2020.  It is a website that provides a platform for users to rent different commodities. Our goal: sustainable life: reduce the chance of items being discarded by renting between different users, and borrowers can use idle items to earn income.  The tenant can also save money.</p>
	<p style="font-size:20px">Contact Us by Email: <a href="mailto:sharetoyouhk@gmail.com">sharetoyouhk@gmail.com</a></p>
	<h3><center>How to post your item?</center></h3>
	<p style="font-size:20px">First, you need to register your account.<img src="https://i.imgur.com/04yn4bx.jpg"></p>
	<p style="font-size:20px">After registered, you can login to our user Dashboard page.</p><img src="https://i.imgur.com/9PZiq75.jpg">
	<p style="font-size:20px">Inside Dashboard page, you will see a "Add Item" button, press it and you can add you items to our website and rent it out!</p><img src="https://i.imgur.com/Wl22lDv.jpg">
	<p><h3>Enjoy!</h3></p>
{% endblock %}
