{% extends "layout.html" %}
{% block body %} 
	<h1><center>Dashboard<small><p>Welcome {{ session.username }}<p></small></p></h1>
	<a class="btn btn-success" href="/add_item"> Add items</a>
	<hr>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Seller</th>
			<th>Date</th>
			<th>Image</th>
			<th></th>
		</tr>
		{% for rent in rents %}
		<tr>
			<td>{{ rent.id }}</td>
			<td>{{ rent.title }}</td>
			<td>{{ rent.seller }}</td>
			<td>{{ rent.create_date }}</td>
			<td><img src="{{url_for('static', filename='images/'+rent.img)}}" alt=""></img></td>
			<td><a href="edit_item/{{rent.id}}" class="btn btn-default pullright">Edit Item</a></td>
			<td>
				<form action="{{url_for('delete_rent', id=rent.id)}}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Delete" class="btn btn-danger">
				</form>
			</td>
		</tr>

		{% endfor %}
	</table>
{% endblock %}
